# Composer files
domefa/composer.phar
domefa/vendor/

# Local configs
domefa/config/autoload/*.local.php
domefa/config/*.local.php

# Binary gettext files
*.mo

# Data
domefa/data/logs/
domefa/data/cache/
domefa/data/sessions/
domefa/data/tmp/
domefa/temp/

#Doctrine 2
domefa/data/DoctrineORMModule/Proxy/
domefa/data/DoctrineORMModule/cache/

# Legacy ZF1
domefa/demos/
domefa/extras/documentation

# IDEs
domefa/.idea/
la_phasmitude/.project/
domefa/domefa/.idea/