



    .container1 img {
        width: 120px;
        margin-left: -2px;
    }


    .container2 img {
        width: 1900px;
        height: 700px;

    }

    .overlay {
        position: absolute;
        bottom: 123px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 35px;
        text-align: justify;
        font-family: "Century Gothic", Serif;
        font-size: 35px;
    }

    .container2:hover .overlay {
        opacity: 1;
    }





.container3
{
    text-align: center;
    color: #00006D;
    font-family: "Century Gothic", Serif;
    font-size: 20px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0.1px;

}

.container3 p
{
    font-weight: bold;
}
.container3 img
{
    width: 450px;
}

.button_container3
{
    display: inline-block;
    border-radius: 12px;
    border: none;
    background-color: #EC930A;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    width: 110px;
    height: 45px;
    padding: 5px;
    margin-right: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: all 0.5s;
    cursor: pointer;
}

.container4
{
    text-align: center;
    color: #FFFFFF;
    font-family: "Century Gothic", Serif;
    background-color: #348aab;
    font-size: 20px;
    margin-top: -25px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0.1px;
    border-radius: 4px;

}

.container4 p
{
    font-weight: bold;
}





