
@media all and (max-device-width: 480px)
{
    h1
    {

        text-align: center;

    }
    .box
    {
        margin: auto;
        display : flex;
        justify-content: center;
        width : 700px;
        height: 400px;
        box-sizing:border-box;
        border-radius:25px;
        border: 1px solid black ;

    }
}
@media all and (min-width: 481px)
{
    h1
    {

        text-align: center;


    }
    .box
    {
        margin: auto;
        display : flex;
        justify-content: center;
        width : 700px;
        height: 400px;
        box-sizing:border-box;
        border-radius:25px;
        border: 1px solid black ;

    }
}

@media all and (min-width: 1024px)
{
    h1
    {

        text-align: center;
        font-size: 30px;


    }
    .box
    {
        margin: auto;
        display : flex;
        justify-content: center;
        width : 750px;
        height: 400px;
        box-sizing:border-box;
        border-radius:25px;
        border: 1px solid black ;
        font-size: 20px;

    }

    .box_med
    {
        margin: auto;
        display : flex;
        justify-content: center;
        width : 750px;
        height: 475px;
        box-sizing:border-box;
        border-radius:25px;
        border: 1px solid black ;
        font-size: 20px;

    }
}

@media all and (min-width: 1500px)
{
    h1
    {

        text-align: center;
        font-size: 40px;


    }
    .box
    {
        margin: auto;
        display : flex;
        justify-content: center;
        width : 900px;
        height: 600px;
        box-sizing:border-box;
        border-radius:25px;
        border: 1px solid black ;
        font-size: 30px;

    }
}

