<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <h2 class="title">Few Words About Us</h2>
                        <p>

                            We are a group of student doing a trip all over North America. This website is a good for us to share pics, videos, and comments about our trip. Thanks to visit our website.

                        </p>

                    </div>

                    <div class="col-lg-5 background order-lg-2 order-1 wow fadeInRight">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>


                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="img/20181006_195757.jpg" alt="Canada">
                                    <div class="carousel-caption">
                                        <h3>CANADA !</h3>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="img/20181007_113018.jpg" alt="Niagara Falls">
                                    <div class="carousel-caption">
                                        <h3>Niagara Falls</h3>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="img/20181006_174544.jpg" alt="CN Tower">
                                    <div class="carousel-caption">
                                        <h3>Toronto</h3>
                                        <p>CN Tower !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #about -->

        <!--==========================
          Team Section
        ============================-->
        <section id="team">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">Team</h3>
                    <p class="section-description">We are a group of student from Paris doing a trip all over North America.</p>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-md-offset-3">
                        <div class="member">
                            <div class="pic"><img src="http://s3.e-monsite.com/2010/07/24/07/chev-chatain-H.jpg" alt="Augustin's face"></div>
                            <h4>Augustin</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <div class="pic"><img src="http://s3.e-monsite.com/2010/07/24/07/chev-blond2.jpg" alt="PA'face"></div>
                            <h4>Paul-Antoine</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #team -->

        <!--==========================
          Footer Section
        ============================-->

        <div id="footer-ancre" class="footer-bottom-area bg-dark-light section-padding-sm col-md-12">
            <p> </p>
            <div class="container ">
                <div class="row widgets footer-widgets col-md-offset-1">

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-widget widget-about">
                            <h5 class="widget-title">About Us</h5>
                            <p>We are a group of student doing a trip all over North America. This website is a good for us to share pics, videos, and comments about our trip. Thanks to visit our website.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-widget widget-quick-links">
                            <h5 class="widget-title">Voyages</h5>
                            <ul>
                                {if isset($smarty.get.user)}
                                <li><a href="{$view.links.Voyages_Montreal}">Montreal</a></li>
                                <li><a href="{$view.links.Voyages_New_York}">New York</a></li>
                                <li><a href="{$view.links.Voyages_Toronto}">Toronto / Niagara</a></li>
                                <li><a href="{$view.links.Voyages_Park_Omega}">Park Omega</a></li>
                                {else}
                                <li>Available only if you are logged!</li>
                                {/if}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-widget widget-quick-links">
                            <h5 class="widget-title">My login</h5>
                            <ul>
                                {if isset($smarty.get.user)}
                                <li>
                                    <form action="{$view.urlbaseaddr}index.php/session/index?m=2" method="post">
                                        <button class="btn btn-primary" name="logout" type="submit" value="2">Logout</button>
                                    </form>
                                </li>
                                {else}
                                <li><a href="{$view.urlbaseaddr}index.php/session/index?sign=1">Sign up</a></li>
                                <li><a href="{$view.urlbaseaddr}index.php/session/index">Login</a></li>
                                {/if}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-widget widget-contact">
                            <h5 class="widget-title">Contact Us</h5>
                            <ul>
                                <li class="address">
                                    <p>Send a comment ;)</p>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</head>
<body>

</body>
</html>