

@media all and (max-device-width: 480px)
{

}
@media all and (min-width: 481px)
{

}

@media all and (min-width: 1024px)
{
    .container1 img {
        width: 120px;
        margin-left: -2px;
    }


    .container2 img {
        width: 1250px;
        height: 420px;

    }

    .overlay {
        position: absolute;
        bottom: 71px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 95%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 30px;
        text-align: justify;
        font-family: "Century Gothic", Serif;
        font-size: 35px;
    }

    .container2:hover .overlay {
        opacity: 1;
    }





    .container3
    {
        text-align: center;
        color: #00006D;
        font-family: "Century Gothic", Serif;
        font-size: 20px;
        border-style: none;
        border-bottom-style: solid;
        border-width: 0.1px;

    }

    .container3 p
    {
        font-weight: bold;
    }
    .container3 img
    {
        width: 450px;
    }

    .button_container3
    {
        display: inline-block;
        border-radius: 12px;
        border: none;
        background-color: #EC930A;
        color: #FFFFFF;
        text-align: center;
        font-size: 11px;
        width: 110px;
        height: 45px;
        padding: 5px;
        margin-right: 4px;
        margin-top: 7px;
        margin-bottom: 7px;
        transition: all 0.5s;
        cursor: pointer;
    }

    .container4
    {
        text-align: center;
        color: #FFFFFF;
        font-family: "Century Gothic", Serif;
        background-color: #348aab;
        font-size: 20px;
        margin-top: -25px;
        border-style: none;
        border-bottom-style: solid;
        border-width: 0.1px;
        border-radius: 4px;

    }

    .container4 p
    {
        font-weight: bold;
    }


    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }



    #locationField, #controls {
        position: relative;
        width: 480px;
    }
    #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
    }
    .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
        font-family: "Roboto";
    }
    #address {
        border: 1px solid #000090;
        background-color: #f0f9ff;
        width: 480px;
        padding-right: 2px;
    }
    #address td {
        font-size: 10pt;
    }
    .field {
        width: 99%;
    }
    .slimField {
        width: 80px;
    }
    .wideField {
        width: 200px;
    }
    #locationField {
        height: 20px;
        margin-bottom: 2px;
    }


}

@media all and (min-width: 1500px)
{

}





